<!--header.html-->

<!doctype html>
<html>

<body id="page-top">
    <!-- <div class="container"> -->

    <head>
        <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico">
        <!--Use the `title` variable to set the title of the page-->
        <title>MFC_LogWork</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Local -->
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

        <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
        <script src="/node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>

        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/popper.js/dist/popper.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/node_modules/jquery.easing/jquery.easing.min.js"></script>
        <script src="/node_modules/chart.js/dist/Chart.min.js"></script>
        <script src="/node_modules/bootstrap-3-typeahead/bootstrap3-typeahead.min.js"></script>

        <link rel="stylesheet" href="/web/css/My.css">
        <script src="/web/js/My.js"></script>

        <link rel="stylesheet" href="/web/css/sb-admin.css">
        <link rel="stylesheet" href="/web/css/sb-admin.min.css ">
        <script src="/web/js/sb-admin.js"></script>
        <script src="/web/js/sb-admin.min.js"></script>


        <link rel="stylesheet" href="/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">

        <script src="/node_modules/jquery.maskedinput/src/jquery.maskedinput.js"></script>

        <!-- Export table -->
        <script src="/node_modules/tableexport.jquery.plugin/tableExport.min.js"></script>

        <script src="/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>


        <script src="/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

        <script src="/node_modules/datatables.net-buttons/js/dataTables.buttons.min.js"></script>

        <script src="/web/js/buttons.bootstrap4.min.js"></script>

        <!-- <script src="/node_modules/jszip/dist/jszip.min.js"></script> -->

        <script src="/node_modules/pdfmake/build/pdfmake.min.js"></script>

        <script src="/node_modules/pdfmake/build/vfs_fonts.js"></script>

        <script src="/node_modules/datatables.net-buttons/js/buttons.html5.min.js"></script>

        <script src="/node_modules/datatables.net-buttons/js/buttons.print.min.js"></script>

        <script src="/node_modules/datatables.net-buttons/js/buttons.colVis.min.js"></script>

        <script src="/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>

        <link rel="stylesheet" href="/node_modules/jstree/dist/themes/default/style.min.css">
        <script src="/node_modules/jstree/dist/jstree.min.js"></script>
    </head>

    {{ template "menu.html" . }}